<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
<!--start vue-->

  <h1>Current Tax: {{percentage}}</h1>
  <input type="text" v-model="percentage">
  <input type="text" v-model="price">
  <div>Tax {{ taxFormatted }}</div>
  <div>Total {{ totalFormatted }}</div>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  new Vue({
    el:'#app',

    data: {
      price: 0,
      percentage: 0.01,
    },

    computed: {
      tax: function () {
        return this.price * this.percentage;
      },
      taxFormatted: function () {
        return '$' + this.tax;
      },
      total: function () {
        return  parseInt(this.price) + this.tax;
      },
      totalFormatted: function () {
        return '$' + this.total;
      }
    }
  })
</script>
</body>
</html>